---
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const jobs: Array<FeatureItem> = [
  {
    title: "Analista programador - SYS & NET DEL PERÚ",
    description:
      "Desarrollo aplicativos moviles para la gestión logistica y optimización de procesos.",
    time: "2024 Junio - Actualidad",
    technologies: ["Flutter", "NestJS", "Spring Boot", "AWS", "Docker"],
  },
  {
    title: "Analista programador - Mantra Consultores",
    description:
      "Migración de aplicativo ERP movil Ionic a flutter mejorando el rendimiento, escalabilidad y usabilidad para el cliente.",
    time: "2024 Febrero - 2024 Mayo",
    technologies: ["Flutter", ".NET", "AWS"],
  },
  {
    title: "Programador Junior - SYS & NET DEL PERÚ",
    description:
      "Participe en el desarrollo de aplicaciones integradas con plataformas de seguimiento GPS e IoT como Wialon y plataformas de sistemas de vigilancia como Howen.",
    time: "2022 Diciembre - 2024 Febrero",
    technologies: ["Flutter", "NestJS", "VueJs"],
  },
  {
    title: "Desarrollador web - PRESTACLUB",
    description:
      "Desarrollo de la arquitectura, el diseño y la funcionalidad del sitio web.",
    time: "2022 Agosto - 2022 Noviembre",
    technologies: ["Javascript", "MySQL", "PHP", "VueJs"],
  },
];
---

<ContentSection title="Experiencia" id="experience">
  <Fragment slot="lead">
    He trabajado en proyectos <span class="text-primary"
      >móviles, web y backend.</span
    >
  </Fragment>
  <ul class="mt-8 w-full max-w-6xl space-y-10">
    {
      jobs.map((job) => (
        <li class="flex flex-col gap-6 md:flex-row md:justify-between">
          <div class="text-gray-300 text-xs md:w-1/4 mt-2">{job.time}</div>
          <div class="md:w-3/4">
            <h3 class="font-bold text-lg">{job.title}</h3>
            <p class="mt-2 text-gray-400 text-sm">{job.description}</p>
            <ul class="mt-2 flex list-inside list-disc flex-wrap gap-x-4 text-gray-400 text-sm">
              {job.technologies.map((tech) => (
                <li class="list-item cursor-default hover:text-orange-400">
                  {tech}
                </li>
              ))}
            </ul>
          </div>
        </li>
      ))
    }
  </ul>
</ContentSection>
