---
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";

const featuredSites = await getCollection(
  "projects",
  ({ data }) => "featured" in data,
);
const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!,
);
---

<ContentSection title="Proyectos" id="projects">
  <Fragment slot="lead">
    Colaboraciones en proyectos <span class="text-primary">desafiantes</span>{
      " "
    }
    y
    <span class="text-primary">exitosos.</span>
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="">
      {orderedSites.map((site) => <ShowcaseCard site={site} />)}
    </div>
    <p class="text-right text-sm">
      <a
        class="text-primary"
        href="https://www.linkedin.com/company/yanapaytech/"
        target="_blank"
      >
        ...ver más &rarr;
      </a>
    </p>
  </div>
</ContentSection>
